{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign IN {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% include 'includes/pu_hh_nav.html' %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="https://th.bing.com/th/id/R.b23e4d17962dce7706ed9dbefbaee5dd?rik=11ZP8kjXvRgEbQ&pid=ImgRaw&r=0" background-repeat: no-repeat>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-400 p-4 p-lg-5 w-100 fmxw-5000">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Detailed information</h1>
                            <br />                               
                            </div>
                            <form method="post" action="/dulieu_quan_tam" class="mt-4">

                                {{ form.hidden_tag() }}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                <center> 
                                    <label for="chat_tg">Show details {{form.ket_qua_pu}}</label>
                                </center>    
                                    <div style="text-align: center;"> 
                                        <div id="ytplayer"></div>
                                    </div>
                                </div>
                                <!-- End of Form -->                                
                               <center>
                                <div class="d-grid">
                                    {{ form.pu_id(class="form-control") }}
                                    <button type="submit" name="quantam" class="btn btn-primary">Interested</button>
                                </div>
                               </center>
                            </form>

                            <br />

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                   
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}


{% block javascripts %}
<script type="text/javascript">
    // Load the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
    // Replace the 'ytplayer' element with an <iframe> and
    // YouTube player after the API code downloads.
    var player;
    function onYouTubePlayerAPIReady() {
      player = new YT.Player('ytplayer', {
        height: '360',
        width: '640',
        videoId: '{{form.hinh_anh}}'
      });
    }
  </script>
{% endblock javascripts %}
