{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% include 'includes/pu_hh_nav.html' %}
    <main>

        {% include 'includes/preloader.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="https://wallpaperaccess.com/full/4552555.jpg" background-repeat: no-repeat>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-400 p-4 p-lg-5 w-100 fmxw-5000">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Support story search </h1>
                                <br />
                                <span class="font-weight-normal">
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        
                                    {% endif %}                                  
                                </span>
                            </div>
                            <form method="post" action="#">                                                                
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="chat_tg">Enter the book you are looking for</label>
                                        <div class="input-group">                                           
                                            {{ form.chat_tg(class="form-control") }}
                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                </div>
                                <div class="d-grid">
                                    <button type="summit" name="tim_kiem" id="tim_kiem" class="btn btn-primary">Search</button>
                                </div>
                                <style>
                                    table, th, td {
                                        border:  solid black ;
                                        border-collapse: collapse;
                                    }
                                    </style>
                                <h1>Result</h1>

                                <table style="width:100%">
                                    <tr>
                                        <th>No</th>
                                        <th>Books read</th>
                                        <th>Similar books</th>
                                        <th>Action</th>
                                    </tr>
                                    
                                    {% for phanunghh in form.phanUngHoahocArr%}
                                    {% set counter = loop.index %}
                                    <tr id="row-{{ counter }}">                                      
                                        <td>{{ counter }}</td>
                                        <td>{{phanunghh.chat_nhap_vao}}</td>
                                        <td>{{phanunghh.ket_qua_pu}}</td>
                                        <td><a href="javascript:onDetail({{phanunghh.pu_id}})">Detail</a></td>
                                    </tr>
                                   
                                    {% endfor %}
                                    {% if not products %}
                                    
                                    {% endif %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </form>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}


{% block javascripts %}
<script type="text/javascript">
    function onDetail(pu_id) {
        window.location.href = '/chi_tiet_pu_hh?pu_id=' + pu_id;
    }
    window.addEventListener('DOMContentLoaded', (event) => {
            // Lấy danh sách tất cả các hàng trong tbody của bảng
            var rows = document.querySelectorAll('tbody tr');
            
            // Lấy hàng cuối cùng trong danh sách
            var lastRow = rows[rows.length - 1];
            
            // Kiểm tra nếu hàng cuối cùng không có nội dung, thì xóa nó đi
            if (lastRow.cells[0].innerHTML === "") {
                lastRow.parentNode.removeChild(lastRow);
            }
        });
</script>
{% endblock javascripts %}
