{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% include 'includes/pu_hh_nav.html' %}
    <main>

        {% include 'includes/preloader.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="https://img.pikbest.com/backgrounds/20190913/technological-blue-background-v_1552415jpg!bwr800" background-repeat: no-repeat>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-400 p-4 p-lg-5 w-100 fmxw-4000">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Search history</h1>
                                <br />
                                <span class="font-weight-normal">
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        
                                    {% endif %}                                  
                                </span>
                            </div>

                            

                                <form method="post" action="" action="#">
                                                                   
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="chat_tg">Enter the substance you are looking for </label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                                                {{ form.lich_su_tim_kiem(class="form-control") }}
                                            </div>  
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <div class="d-grid">
                                        <button type="summit" name="tim_kiem" class="btn btn-primary">Search</button>
                                    </div>

                                   
                                </form>
                            
                            

                            <br />

                            

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}



{% block javascripts %}{% endblock javascripts %}
